<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tyrfing.games.id3.lib"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="26" />

    <application android:label="@string/app_name">

    </application>

</manifest>
